@page
@model SessionManagementApp.Pages.SavedInSessionModel
@{
    ViewData["Title"] = "Saved in session";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <ul>
        @if (Model.YearNameForms != null)
        {
            @foreach (var YearNameForm in Model.YearNameForms)
            {
                <li>
                    <p>@YearNameForm.Name, @YearNameForm.Year @(DateTime.IsLeapYear(YearNameForm.Year) ? "- rok przestępny" : "")</p>
                </li>
            }
        }
        else
        {
            <p>No data in available.</p>
        }
    </ul>
</div>
